@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  max-width: 1920px;
  background-color: #151525;
  color: rgb(217, 213, 223);
}
