@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

* {
 box-sizing: border-box;
 font-family: "Inter", sans-serif;
}

html,
body {
 margin: 0 auto;
 max-width: 1920px;
 background-color: #151525;
 color: rgb(217, 213, 223);
}

h1,
h2,
h3,
h4 {
 color: rgb(217, 213, 223);
 margin: 5px 0;
}
h1 {
 font-size: 4rem;
 line-height: 1;
}
h2 {
 font-size: 3rem;
}
h3 {
 font-size: 2rem;
}
h4 {
 font-size: 1rem;
}

p {
 color: rgb(189, 194, 241);
 margin: 5px 0;
 max-width: 500px;
 font-size: 1.25rem;
 font-weight: 300;
 line-height: 1.3;
}

@media screen and (max-width: 930px) {
 h1 {
  font-size: 2.7rem;
 }
}

@media screen and (max-width: 700px) {
 h2 {
  font-size: 2rem;
 }

 h1 {
  font-size: 2rem;
 }

 h2 {
  font-size: 2rem;
 }

 h3 {
  font-weight: 600;
  font-size: 1.7rem;
 }
}
