.container {
  .showcase {
    display: flex;
    height: 540px;
    align-items: center;
    .text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 60%;
      h1 {
        font-size: 4.3rem;
        font-weight: 900;
        margin: 0;
      }
      p {
        margin: 0;
        max-width: 400px;
        font-size: 17px;
        font-weight: 300;
      }
      .buttons {
        display: flex;
        gap: 30px;
        button:nth-of-type(1) {
          font-size: 18px;
          font-family: inherit;
          font-weight: 700;
          text-align: center;
          color: white;
          background-color: #f02d5d;
          border: none;
          padding: 14px 40px;
          border-radius: 4px;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.2s ease;
          &:hover {
            transform: translateY(-4px);
            opacity: 0.8;
          }
        }
      }
      button:nth-of-type(2) {
        font-size: 18px;
        font-family: inherit;
        font-weight: 700;
        text-align: center;
        color: white;
        background-color: transparent;
        border: 1px solid rgb(231, 231, 245);
        padding: 14px 40px;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
          transform: translateY(-4px);
          opacity: 0.8;
        }
      }
    }
    .image {
      width: 40%;
      display: flex;
      justify-content: center;
    }
  }
  .filters {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 3rem;
      margin: 0;
    }
    .title {
      text-align: center;
    }
    .cards {
      display: flex;
      gap: 30px;
      justify-content: center;
      flex-wrap: wrap;
      .card {
        max-width: 370px;
        padding: 40px 20px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .icon {
          display: flex;
          align-items: center;
          gap: 15px;
        }
        h4 {
          margin: 0;
          font-size: 1.3rem;
          font-weight: 200;
          text-transform: uppercase;
        }
        h3 {
          font-size: 1.8rem;
          margin: 0;
        }
        p {
          margin: 0;
          font-size: 15px;
          color: #c9c8e4c9;
          font-weight: 300;
        }
      }
      .card {
        /* From https://css.glass */
        background: rgba(94, 41, 124, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
      }
    }
    button {
      font-size: 18px;
      font-family: inherit;
      font-weight: 700;
      text-align: center;
      color: white;
      background-color: transparent;
      border: 1px solid rgb(231, 231, 245);
      padding: 14px 40px;
      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        transform: translateY(-4px);
        opacity: 0.8;
      }
    }
  }
  .developerDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    h2 {
      font-size: 3rem;
    }
    .action {
      display: flex;
      justify-content: center;
      gap: 40px;
      align-items: center;
      margin-bottom: 30px;
      // width: 100%;
      border-radius: 12px;
      overflow: hidden;
      background-color: #222230;
      // box-shadow: 12px 12px 33px 2px rgba(11, 11, 19, 0.61);
      .image {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: rgba(30, 12, 58, 0.829);
      }
      .text {
        height: 100%;
        padding: 30px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h3 {
          font-size: 1.8rem;
          margin: 0;
          font-weight: 700;
        }
        p {
          max-width: 480px;
          // margin-top: 5px;
          color: #a4a1e7b4;
          font-weight: 300;
          // font-size: 14px;
        }
      }
    }
    button {
      margin-top: 20px;
      font-size: 18px;
      font-family: inherit;
      font-weight: 700;
      text-align: center;
      color: white;
      background-color: #f02d5d;
      border: none;
      padding: 14px 40px;
      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        transform: translateY(-4px);
        opacity: 0.8;
      }
    }
  }
}
