.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    font-family: inherit;
    gap: 10px;
    background-color: rgb(250, 250, 252);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 500px;
    h3 {
      color: rgb(34, 34, 37);
    }
    input {
      font-weight: 200;
      width: 100%;
      font-size: 18px;
      padding: 10px;
      border-radius: 0px;
      background-color: transparent;
      border: 2px solid rgba(79, 79, 134, 0.329);
    }
    button {
      width: 100%;
      background-color: dodgerblue;
      font-size: 20px;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        transform: translateY(-2px);
      }
    }
    small {
      color: tomato;
    }
    .referParagraph {
      color: rgb(37, 37, 49);
    }
  }
}
