.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container {
    background-color: #5a5b853a;
    border-radius: 12px;
    padding: 20px 20px 40px 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    position: relative;
    .editProfile {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 12px;
    }
    .editor {
      position: absolute;
      z-index: 22;
      left: 140px;
      background: rgb(221, 222, 235);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.507);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      max-width: 700px;
      width: 100%;
      padding: 0 40px 40px 40px;
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      .close {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 18px 0px 0px 0px;
        width: 100%;
        .closeBtn {
          cursor: pointer;
        }
      }
      .menu {
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: center;
        background-color: #cdc9d8;
        p {
          color: rgb(45, 43, 53);
          background-color: #ded5f1;
          padding: 2px 12px;
          // border-radius: 12px;
          border: 1px solid black;
          cursor: pointer;
          transition: all 0.2s ease;
          &:hover {
            transform: translate(-1px, -1px);
            color: #b2aff7;
          }
        }
      }
      form {
        width: 100%;
        font-family: inherit;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
        .inputContainer {
          width: 100%;
          display: flex;
          gap: 10px;
        }
        .inputAndLabel {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
        label {
          color: rgb(46, 32, 78);
        }
        input {
          font-weight: 200;
          color: #000000;
          width: 100%;
          font-size: 18px;
          padding: 10px;
          border-radius: 0px;
          background-color: transparent;
          border: 2px solid rgba(5, 4, 4, 0.514);
        }
        button {
          width: 100%;
          background-color: dodgerblue;
          font-size: 20px;
          color: white;
          padding: 10px;
          border: none;
          cursor: pointer;
          transition: all 0.2s ease;
          &:hover {
            transform: translateY(-2px);
          }
        }
        .addField {
          display: flex;
          flex-direction: column;
          gap: 22px;
          width: 100%;
          position: relative;
          .inner {
            width: 100%;
            border: 2px solid rgba(79, 79, 134, 0.329);
            display: flex;
            gap: 10px;
            justify-content: space-between;
            padding: 10px;
            cursor: pointer;
            .selectedExperience {
              color: rgb(50, 36, 66);
            }
            p {
              margin: 0;
              color: rgba(20, 15, 17, 0.808);
              span {
                font-size: 12px;
                color: rgba(248, 69, 123, 0.808);
              }
            }
            .category {
              color: rgb(50, 36, 66);
            }
          }
          .list {
            /* From https://css.glass */
            background: rgba(253, 252, 255, 0.253);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
            border: 1px solid rgba(24, 23, 23, 0.932);
            position: absolute;
            margin-top: 5px;
            top: 40px;
            // background-color: rgb(240, 238, 253);
            width: 100%;
            z-index: 12;
            padding: 0 20px;
            max-height: 220px;
            overflow-y: scroll;
            // box-shadow: 0 2px 22px 2px rgba(38, 61, 97, 0.411);
            ul {
              padding: 0;
              list-style: none;
              li {
                margin: 2px 0;
                padding: 4px 0;
                color: rgb(15, 14, 17);
                border-bottom: 1px solid rgba(104, 100, 99, 0.151);
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                  color: rgb(233, 30, 124);
                }
              }
            }
          }
        }
        .addExperience {
          display: flex;
          flex-direction: column;
          gap: 22px;
          width: 100%;
          position: relative;
          .inner {
            width: 100%;
            border: 2px solid rgba(79, 79, 134, 0.329);
            display: flex;
            gap: 10px;
            justify-content: space-between;
            padding: 10px;
            cursor: pointer;
            .selectedExperience {
              color: rgb(50, 36, 66);
            }
            p {
              margin: 0;
              color: rgba(20, 15, 17, 0.808);
              span {
                font-size: 12px;
                color: rgba(248, 69, 123, 0.808);
              }
            }
            .category {
              color: rgb(50, 36, 66);
            }
          }
          .list {
            /* From https://css.glass */
            background: rgba(253, 252, 255, 0.253);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
            border: 1px solid rgba(24, 23, 23, 0.932);
            position: absolute;
            margin-top: 5px;
            top: 40px;
            // background-color: rgb(240, 238, 253);
            width: 100%;
            z-index: 12;
            padding: 0 20px;
            max-height: 220px;
            overflow-y: scroll;
            // box-shadow: 0 2px 22px 2px rgba(38, 61, 97, 0.411);
            ul {
              padding: 0;
              list-style: none;
              li {
                margin: 2px 0;
                padding: 4px 0;
                color: rgb(15, 14, 17);
                border-bottom: 1px solid rgba(104, 100, 99, 0.151);
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                  color: rgb(233, 30, 124);
                }
              }
            }
          }
        }
        .addSkills {
          display: flex;
          flex-direction: column;
          gap: 22px;
          width: 100%;
          position: relative;
          .skillInput {
            display: flex;
            gap: 12px;
          }
          button {
            font-size: 16px;
            width: fit-content;
            background-color: transparent;
            border: 1px solid #4454;
            color: black;
            transition: all 0.2s ease;
            &:hover {
              transform: translate(-1px, -1px);
            }
          }
        }

        .displaySkills {
          width: 100%;
          display: flex;
          padding: 10px;
          gap: 16px;
          background-color: #c3c3dda8;
          p {
            padding: 2px 5px;
            background-color: #2e2d4e;
            font-size: 14px;
            color: #b3b0df;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
              color: rgba(135, 151, 173, 0.966);
              transform: translate(-1px, -1px);
            }
          }
        }
        .skillsfield {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
        }
      }
    }
    .edit {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid white;
      padding: 8px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        background-color: #445;
        transform: translate(-1px, -1px);
      }
    }
    .profile {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #445;
      padding: 30px 0;
      .name {
        display: flex;
        align-items: center;
        gap: 20px;
        .image {
          width: 60px;
          height: 60px;
          background-color: rgb(196, 99, 199);
          border-radius: 50%;
          overflow: hidden;
        }
        .nameAndLocation {
          display: flex;
          gap: 8px;
          flex-direction: column;
          h3 {
            margin: 0;
          }
          .location {
            display: flex;
            align-items: center;
            gap: 5px;
            img {
              width: 20px;
            }
            p {
              margin: 0;
            }
          }
        }
      }
      .buttons {
        display: flex;
        gap: 20px;
        align-items: center;
        button {
          border: none;
          background-color: #6c63ff;
          border-radius: 30px;
          padding: 10px 40px;
          color: white;
          font-weight: 700;
          cursor: pointer;
          transition: all 0.2s ease;
          &:hover {
            background-color: rgb(73, 42, 146);
          }
        }
        a {
          border: 2px solid white;
          background-color: transparent;
          border-radius: 30px;
          padding: 10px 40px;
          color: white;
          text-decoration: none;
          font-weight: 700;
          cursor: pointer;
          transition: all 0.2s ease;
          &:hover {
            color: rgb(146, 42, 124);
          }
        }
      }
    }
    .details {
      display: flex;
      justify-content: space-between;
      h4 {
        margin: 10px 0;
        font-size: 1.7rem;
      }
      p {
        margin: 0;
        margin-bottom: 7px;
      }
      ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        a {
          color: white;
          text-decoration: none;
        }
        li {
          padding: 5px 9px;
          font-size: 14px;
        }
      }
      .leftSection {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 30%;
        .skills {
          .heading {
            display: flex;
            align-items: center;
            gap: 12px;
          }
          ul {
            li {
              background-color: #5a5b85;
            }
          }
        }
        .links {
          padding-top: 20px;
          border-top: 1px solid #445;
          .heading {
            display: flex;
            align-items: center;
            gap: 12px;
          }
          ul {
            li {
              border-radius: 40px;
              background-color: #7035ef;
              cursor: pointer;
              transition: all 0.2s ease;
              &:hover {
                transform: translateY(-2px);
                opacity: 0.7;
              }
            }
          }
        }
      }
      .mainSection {
        border-left: 1px solid #445;
        width: 75%;
        display: flex;
        flex-direction: column;
        .bio {
          border-bottom: 1px solid #445;
          padding: 20px;
          .bioHearder {
            display: flex;
            align-items: center;
            gap: 15px;
            p {
              background-color: #2aa3489d;
              padding: 3px 9px;
              border-radius: 30px;
              color: white;
              margin: 0;
            }
          }
        }
        .projects {
          padding: 20px;
          .heading {
            display: flex;
            align-items: center;
            gap: 12px;
          }
          .projectCards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
          }
          .addProject {
            form {
              display: flex;
              flex-direction: column;
              gap: 12px;
            }
            input,
            textarea {
              width: 100%;
              background-color: transparent;
              font-family: inherit;
              font-size: 16px;
              padding: 8px 6px;
              border: 1px solid white;
              color: white;
            }
            .addProjectNames {
              display: flex;
              gap: 12px;
            }
            button {
              font-size: 16px;
              padding: 12px;
              background-color: #63ff92;
              border: none;
              color: black;
              cursor: pointer;
              transition: all 0.2s ease;
              &:hover {
                transform: translateY(-2px);
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}
