.footer {
  height: 200px;
  background: rgb(7, 7, 46);
  background: linear-gradient(
    10deg,
    rgba(7, 7, 46, 1) 54%,
    rgba(45, 11, 68, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
