.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 11, 27);
  padding: 20px;
  height: 70px;
  img {
    width: 130px;
    cursor: pointer;
  }
  .links {
    width: 30%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    a {
      list-style: none;
      text-decoration: none;
      font-family: inherit;
      color: aliceblue;
      font-size: 17px;
      font-weight: 500;
      transition: all 0.2s ease;
      white-space: nowrap;
      &:hover {
        transform: translate(-1px, -1px);
        color: rgb(186, 91, 209);
      }
    }
    .profile {
      position: relative;
      .miniNav {
        z-index: 12;
        position: absolute;
        right: 0;
        top: 53px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: rgb(38, 31, 46);
        min-width: 150px;
        width: 100%;
        padding: 15px;
        .icon {
          cursor: pointer;
          width: 100%;
          display: flex;
          height: fit-content;
          gap: 10px;
          align-items: center;
          transition: all 0.2s ease;
          p {
            margin: 0;
            transition: all 0.2s ease;
          }
          &:hover {
            p {
              color: rgb(152, 182, 212);
            }
          }
        }
      }
    }
  }
}
