.container {
  max-width: 280px;
  background-color: #5a5b85;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  .image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    img {
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        transform: translate(-1px, -1px);
      }
    }
  }
  .header {
    font-size: 19px;
    margin: 10px 0;
  }
  p {
    font-size: 14px;
    margin: 0;
  }
  a {
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: dodgerblue;
    border: none;
    padding: 8px 20px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      transform: translate(-1px, -1px);
      opacity: 0.8;
    }
  }
}
